.Preview.panel {
  height: 100vh;
  margin-bottom: 0;
  min-height: 300px;
  overflow: hidden;
}

.Preview .panel-body {
  height: 100%;
  overflow: auto;
}

@media (min-width: 768px) {
  .Preview.panel {
    height: calc(100vh - 183px);
  }
}
